.credit-pop-up{
	display: flex;
	justify-content: center;
	align-items: center;
	.credit-container{
		max-height: 90vh;
		// overflow: scroll;
		// display: ;
		background: linear-gradient(to bottom, white 0%,white 80%, rgb(237, 237, 237) 100%);
		width: 100%;
		box-shadow: 4px 4px rgba(0, 0, 0, 0.252);
		padding-bottom: 3em;
		.head{
			user-select: none;
			display: flex;
			margin: 0 auto;
			justify-content: center;
			margin-top: -30px;

			.title{
				background: #F88699;
				color: white;
				display: flex;
				align-items: center;
				text-align: center;
				max-width: max-content;
				padding: .2em 2em;
				border-radius: 1em;
				gap: 1em;
	
				position: relative;
				.decor_bouquet{
					position: absolute;
					width: 100%;
					// background: rebeccapurple;
					z-index: -2;
					left: 0%;
					bottom: 50%;
				}
				h2{
					font-size: 2.4rem;
				}
				img{
					width: 30px;
				}
			}
			
			gap: 1em;
			.btn-close{
				background: #F88699;
				color: white;
				width: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 2em;
				font-size: 2.4rem;
			}
		}
		.description{
			text-align: center;
			max-width: min(1000px,80%);
			margin: 10px auto;
			font-weight: 500;
			color: #F88699;
			font-size: clamp(.8rem, 1vw, 1.5rem);
			margin-bottom:2em;
		}
		user-select: none;
		.modal-content{
			max-height: 60vh;
			overflow-y: auto;
		}
		.credit-list{
			display: flex;
			// justify-content: center;
			gap: 2em 1em;
			padding-top: .55em;
			// overflow-x: x;
			// flex-wrap: wrap;
			margin:  0 auto;
			max-width: 90%;
			overflow-x: auto;
			overflow-y: hidden;
			padding: 2em 1em;
			.credit{
				white-space: nowrap;

				background: #FCC2CC;
				border-radius: 1em;
				box-shadow: 3px 3px #F88699;

				&:nth-of-type(odd){
					// transform;
					transform: translateY(10%);
				}
				.credit-head{
					background: #F88699;
					text-align: center;
					border-radius: 1em;
					display: flex;
					flex-direction: column;
					padding: .2em 2em;
					padding-bottom: .7em;
					.role{
						font-size: .8rem;
						color: #AE3449;
					}
					p{
						color: white;
						font-weight: bold;
						font-size: 1.2rem;
						margin-top: -2px;

					}
				}

				.credit-body{
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					padding: .25em;
					padding-top: 1.2em;

					.pfp{
						border-radius: 50%;
						// max-width: 150px;
						width: 100px;
						outline: 5px solid #B7456B;
						outline-offset: 4px;

					}
					.decor_flower{
						max-width: 40px;
						margin-top: -20px;
						background: #B7456B;
						border-radius: 50%;
						padding: .5em;
					}
				}
			}
		}
	}
}

@media screen and (max-width:425px) {
	.credit-pop-up .credit-container .credit-list{
		max-width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		gap: .5em;
		.credit.btn{
			display: grid;
			grid-template-columns: 1fr 80px;
			// align-items: ;
			.credit-head{
				width: 100%;
				height: 100%;
				padding: 0 .65em;
				align-items: flex-start;
				h2,p{
					text-align: left !important;
				}
				justify-content: center;
			}
			.credit-body{
				padding-top: 0;
				max-height: 20vh;
				margin: 0;
				.pfp{
					transform: translateY(0px);
					margin: .5em 0;
				}
				position: relative;
				.decor_flower{
					top: 50%;
					left: 60%;
					position: absolute;
					// transform: translateX(); 
				}
			}
		}
	}
	.credit-pop-up .credit-container{
		padding-bottom: 1em;
	}
	.credit-pop-up .credit-container .description{
		max-width: 90%;
		text-align: justify;
	}
	.credit-pop-up .credit-container .credit-list .credit:nth-of-type(odd){
		transform: translate(0%);
	}
	.credit-pop-up .credit-container .credit-list{
		overflow-x:  hidden;
		overflow-y: auto;
	}
	.credit-pop-up .credit-container .credit-list .credit .credit-body {
		.pfp{
			width: 50px;
			outline-width: 1px;
			margin: -10px 0;
		}
		.decor_flower{
			// width: 20px;
			scale: .7;
			// margin-top: 1em/;
			transform: translateX(10px);
		}
	}
	.credit-pop-up .credit-container .head{
		.title{
			
			justify-content: space-between;
			padding: 0 .55em;
			img{
				max-width: 20px;
			}
			.decor_bouquet{
				max-width: initial;
			}
			h2{
				font-size: 1.2rem !important;

			}
		}
	}
	
}