#page_profile{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	.profile-container{
		.content{
			display: grid;
			grid-template-columns: 1fr 2.2fr;
			height: 100%;
			.art-part{
				position: relative;
				z-index: 1;
				img{
					position: absolute;
					width: 100%;
					bottom: 0%;
					left: 0%;
					scale: 1.6;
			
					transform-origin: bottom;
					pointer-events: none;
					user-select: none;
					z-index: -1;
					transition: all 550ms ease;
				}
					&:hover{
						img{
							scale: 1.7;

						}
					}
			}
			article{
				position: relative;
				z-index: 2;
				// display: flex;
				// flex-direction: column;
				.about-me{
					// display: flex;
					padding-bottom: 1em;
					display: grid;
					grid-template-columns: 1.4fr 1fr;
					// justify-content: space-between;
					gap: 1em;
					padding-top: 1em;
					.main-text{
						h2{
							font-size: 2.8rem;
							color: #B7456B;
						}
						.bar{
							width: 50px;
							height: 100%;
							background: #B7456B;
						}
						.title{
							display: flex;
						}
						.subtitle{
							background: #FFDDA7;
							color: #DC962D;
							padding: .3em 1em;
							border-radius: 1em;
							font-size: .9rem;
						}
						.bio{
							font-size: .9rem;
							color: #B7456B;
							margin: .55em 0;
							font-weight: bold;
							opacity: .8;
						}
						.btn-story{
							color: #B7456B;
							font-weight: bolder;
							display: flex;
							font-size: 1.5rem;
							align-items: center;
							gap: .25em;
							margin: 1em 0;
							transform-origin: left;
							
						}
					}
					.context{
						padding-right: 1em;
						.contact-list{
							display: flex;
							justify-content: space-evenly;
							align-items: center;
							// padding: .25em;
							background: #8A4F8B;
							box-shadow: 2px 2px 0px #673768;
							border-radius: 2em;


							.btn-contact{
								font-size: 1.4rem;
								display: flex;
								align-items: center;
								padding: .25em 1em;
								color: white;
							}
						}

						.stats-tags{
							display: grid;
							grid-template-columns: 1fr 1fr;
							gap: .4em;
							background: url('/backgrounds/pattern_dot.png'),linear-gradient(91deg, #BC71BD 0%, #E1ADE2 100%);
							border: 3px solid #9D519E;
							padding: .5em ;
							border-radius: 1em;
							margin: .5em 0;
							.stats{
								background: #A469A5;
								border-radius: .5em;
								color: white;
								box-shadow: 2px 3px 0px rgba(97, 57, 95, 0.745);
								padding: .5em 1em;
								font-weight: bold;
								transition: all 300ms ease;
								&:hover{
									scale: 1.05;
								}
							}
							.tag-type{
								display:block;
								font-weight:normal;
								font-size: .8rem;
							}
 						}
					}
				
				}

				.about-bar{
					padding-bottom: 2em;
					margin-bottom: 1em;
					background: url('/backgrounds/pattern_dot.png'),linear-gradient(91deg, #BC71BD 0%, #E1ADE2 100%);
					border: 3px solid #9D519E;
					border-radius: 1em;
					margin-right: 1em;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr;
					gap: .5em;
					align-items: stretch;
					padding: .45em;
					.btn-bar{
						width: 100%;
						background: #B7456B;
						color: white;
						display: flex;

						padding: .25em .5em;
						border-radius: 1em;
						margin: .2em 0;
						align-items: center;
						gap: .25em;
						svg{
							&:last-of-type{
								justify-self: flex-end;
							}
						}
					}
					img{
						max-width: 100%;
						border-radius: 1.5em;
						// margin: .5em;
					}
					.other{
						display: flex;
						// justify-content: center;
						flex-direction: column;
						img{
							// max-height: 50%;
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}
					.refhob{

						display: flex;
						flex-direction: column;
						.hobbies{
							font-size: .8rem;
							background: #A469A5;
							padding: .5em;
							border-radius: 1em;
							height: 100%;
							.hobbies-head{
								display: flex;
								.icon{
									color: white;
									background: white;
									padding: .5em;
									border-radius: 50%;
									width: 50px;
									img{
										// invert: 100%;
										scale: 1.35;
										filter: invert(30%);
									}
								}
								hr{
									width: 100%;
									height: 1px;
									background: white;
									border: none;
								}
								align-items: center;
								gap: .5em;
								color: white;
								img{
									width: 20px;
								}
							}
							.detail-text{
								font-size: .55rem;
								padding: .5em;
								color: white;
							}
						}
					}
					.credit{
						display: flex;
						flex-direction: column;
						img{
							height: 100%;
							object-fit: cover;
						}
					}
					.artone{
						img{
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
.profile-panel{
	background:linear-gradient(98deg, #FFB7B7 0%, #FF8B9E 100%);
	border: 5px solid #B7456B;
	// width: 1200px;
	max-width: 1200px;
	min-height: 500px;
	border-radius: 2em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.504);
	position: relative;
	.default{
		.btn-back{
			position: absolute;
			bottom: 98%;
			left: 5%;
			background: #B7456B;
			color: white;
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 4em;
			padding: .25em .5em;
			border-radius: 2em;
		}
		.decor{
			position:absolute;
			top:0%;
			left:0%;
			// width:100%;
			// height:100%;
		}
		.flower_left{
			right: -50px;
			left: initial;
			top: 0%;
			height: 100%;
		}
		.flower_top{
			top: -80px;
			left: initial;
			right:5%;
		}
	}

	&::before{
		content:'';
		position:absolute;
		top:0%;
		left:0%;
		width:100%;
		height:100%;
		background: linear-gradient(180deg, rgba(255, 182.75, 182.75, 0.80) 0%, rgba(255, 182.75, 182.75, 0.65) 19%, rgba(196, 149, 197, 0.80) 97%),linear-gradient(180deg, rgba(255, 182.75, 182.75, 0.80) 0%, rgba(255, 182.75, 182.75, 0.65) 19%, rgba(196, 149, 197, 0.80) 97%);
		z-index: -1;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.276);
		// width: 500%;
		scale: 10 .78;
	}
}