#page_timeline{
	.delivery{
		display: grid;
		grid-template-columns: 1fr 1fr;
		background: linear-gradient(180deg, #AFAD82 0%, #698270 100%);
		border: 4px solid #E6E199;
		border-radius: 2em;
		overflow: hidden;
		gap: 1em;
		margin: 1em;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.508);
		align-items: center;
		align-content: center;
		max-height: 200px;
		figure{
			display: flex;
			height: 100%;
			width: 100%;

			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		article{
			color: #E6E199;
			padding: 1em;
			h2{
				font-size: 2rem;
				margin: .2em 0;
			}
		}
		
	}
	.updates{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.9em;
		margin: 1em;
		align-items: center;
		.time{
			background: linear-gradient(180deg, #AFAD82 0%, #698270 100%);
			border: 4px solid #E6E199;
			border-radius: 2em;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: .25em;
			.top{
				background:#E6E199;
				color: #869478;
				width: 80%;
				text-align: center;
				padding: .25em;
				border-radius: 2em;
				margin: .55em;
				h2{
					font-size: 1rem;
				}
				p{
					font-weight: bold;
					font-size: 2rem;
				}
			}
			.bottom{
				text-align: center;
				color: #E6E199;
				padding: 2em .45em;
				h2{
					font-size: 2rem;
				}
				p{
					font-size: 1.2rem;
				}
			}
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.508);
	}
		.update{
			display: grid;
			grid-template-columns: 1.4fr 1fr;
			align-items: center;
			color: #708672;	
			h2{
				font-size: 1.8rem;
			}
			img{
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width:1024px) {
	#page_timeline{
		.delivery{
			margin: 1em 0;

			article{
				padding: .5em;
				h2{
					font-size: 1.4rem;
				}
				p{
					font-size: .9rem;
				}
			}
		}
		
		.updates{
			margin: 1em 0;
			.time{
				.top{
					p{
						font-weight: bold;
						font-size: 1rem;
					}
				}
				.bottom{
					h2{
						font-size: 1.5rem;
					}
					p{
						font-size: .9rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width:768px) {
	#page_timeline{
		.delivery{
			max-height: initial;
			display: grid;
			grid-template-columns: 1fr 2fr;
			article{
				padding: 1em 0;
			}
		}
		.updates{
			display: block;
			.update{
				margin-top: 1em;
			}
		}
	}
}

@media screen and (max-width:450px) {
	#page_timeline{
		.updates{
			.update{
				display: block;
			}
		}
	}
}

@media screen and (max-width:375px) {
	#page_timeline{
		.delivery{
			display: block;
			article{
				text-align: center;
			}
		}
	}
}

@media screen and (max-width:325px) {
	#page_timeline{
		.delivery{
			article{
				padding: 1em;
				h2{
					font-size: 1.4rem;

				}
				p{
					font-size: .8rem;
				}
			}
		}
	}
}