*{
	margin: 0;
	box-sizing: border-box;	
	padding: 0;

	&:hover{

	}
}

:root{
	
}
body{
	cursor: url('/cursors/default.cur'),auto;
	height: 100%;
	overflow-x: hidden;
	// overflow: hidden;
	background: #dbf8ff;
}
button{
	&:hover{
		cursor: url('/cursors/select.cur'),auto;

	}
}
main{
	height: 100%;
	min-height: 100vh;
	// position: relative;
}


.center-page{
	width: 100%;
	height: 100%;
	// padding-top: 200px;
}
.pond-bg{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: url('/backgrounds/pond-bg.png');
	z-index: -2;
	background-size: cover;
	scale: 1.05;
}
.bg-sky{
	position: fixed;
	background: url('/backgrounds/sky_mid.png');
	width: 100%;
	height: 100%;
	// background-size: 100vw 100vh;
	background-size: 100% 100vh;
	// object-fit: cover;
	background-attachment: fixed;
	background-position: 500px 0%;
	filter: blur(.35vw);
	scale: 1.02;
	animation: looksky 250s infinite linear;
	z-index: -1001;

}

.bg_mt{
	position: fixed;
	top: 0%;
	left: 0%;
	width: max(100vw,1000px);
	height: 100vh;
	filter: blur(.2vw);
	scale: 1.01;

	z-index: -1000;
}

@keyframes looksky {
	0%{
		background-position: 0px 0px;
	}
	100%{
		background-position: 200vw 0px;
	}
}

.ni{
	user-select: none;
	pointer-events: none;
}

.btn{
	transition: all 300ms ease;
	text-decoration: none;
	background: none;
	border: none;
	cursor: url('/cursors/select.cur'),auto;
	font-family: var(--fontMain);
	&:hover{
		scale: 1.05;
	}
	&:active{
		scale: .95;
	}
}
@media screen and (orientation:portrait) {
	.bg-sky{
		background-size: 1500px 100vh;
	}
}

@keyframes speen {
	0%{
		rotate: 0turn;
	}
	100%{
		rotate: 2turn;
	}
}

