#page_profile_likes{
	.likes-container{
		.content{
			display: grid;
			grid-template-columns: 1fr 3fr;
			// align-items: center;
			figure{
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				margin-left: -10px;
				.goal-art{
					// left: 5%;
					// top: -5%;
					background: #D17382;
					border-radius: 50%;
					overflow: visible;
					display: flex;
					align-items: center;
					transform: translate(-20%);
					scale: 1;
					max-width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 400px;
					height: 400px;
					img{
						// opacity: 0;
						scale: 1;
						width: 100%;
						// height: 100%;
						object-fit: contain;
						scale: 1.2;
						filter: drop-shadow(2px 2px white);
						user-select: none;
						pointer-events: none;
					}
				}
			}
			article{
				width: 100%;
				padding: 2em;
				.header{
					.text-part{
						color: #B7456B;
						h2{
							font-size: 2.5rem;
						}
						p{
							font-size: .9rem;
						}
					}

					.progress{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						p{
							font-size: 1.3rem;
							color: #B7456B;
							font-weight: bold;
						}
						.bar-container{
							// width: 100px;
							width: 100%;
							height: 20px;
							border-radius: 2em;
							// height: 20px;
							background: #b7456b69;
							position: relative;
							margin: .45em;
							.bar{
								width: 75%;
								height: 100%;
								background:url('/backgrounds/zig.png'), #B7456B;
								border-radius: 2em;
								position: relative;
								&::before{
									content:url('/decors/flower-goal.png');
									position:absolute;
									top:-7px;
									right:-10px;
									// transform: translate(50%,-15%);
									animation: speen 25s infinite linear;
									// width:100%;
									// height:100%;
								}
							}
						}
					}
				}
				
				.likes-list{
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 2.4em;
					margin: 2em 0;
					.list{
						border-radius: 1em;
						padding-bottom: 2em;
						background: url('/backgrounds/tilepattern.png'),#D17382;
						background-blend-mode: multiply;
						h2{
							padding: .5em;
							font-size: 1.5rem;
							color: white;
						}

						.item-list{
							height: 100%;
							display: flex;
							flex-direction: column;
							
							.item{
								background: #B7456B;
								color: white;
								padding: .25em 1em;
								transform: translateX(-5%);
								&:nth-of-type(even){
									transform: translateX(5%);
									background: #942D4F;
								}
								transition: all 200ms ease;
								&:hover{
									outline: 2px solid white;
									transform: translateX(0%);
								}
							}
						}

						&.dislikes{
							background: url('/backgrounds/tilepattern.png'),#B66EB7;
							.item-list{
								.item{
									background: #8A4F8B;
									&:nth-of-type(even){
										background: #6b2968;
									}
								}
							}
						}
					}
				}
			}

		}
	}
}

@media screen and (max-width:1024px) {
	#page_profile_likes{
		.likes-container{
			.content{
				display: grid;
				// grid-template-columns: 1fr 3fr;
				
			}
		}
	}
}

@media screen and (max-width:505px) {
	#page_profile_likes{
		.likes-container{
			.content{
				article{
					padding: 1em;
					margin-top: -20px;
					.header{
						.text-part{
							h2{
								font-size: 1.5rem;
							}
								p{
									padding-top: 1em;
									font-size: .9rem;
									text-align: justify;
								}
						}
					}
					.likes-list{
						padding: 0 1em;
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}
}

@media screen and (max-width:1024px) {
	#page_profile_likes{
		// grid-template-columns: 1f;
		.likes-container{
			.content{
				display: flex;
				flex-direction: column-reverse;
				// justify-content: center;
				// align-items: center;
				figure{
					margin: 0 ;
					.goal-art{
						transform: translate(0%);
						position: relative;
						// top: 100%;
						margin: 0;
						// scale: .5;
						// height: 500px;
					}
				}
			}
			article{
				padding-top: 0;
			}
		}
	
	}
}